<html>
    <head>
        <title>Request Failure - Payton &amp; Wayne Painting and Drywall</title>
   <style>
      body {
        background-image: url('https://res.cloudinary.com/rapha3l/image/upload/v1534957804/SE00407f_background2_i5jrlz.jpg');
            background-size:contain;
            background-repeat: none;
            background-attachment: fixed;
            font-family: Hind, sans-serif;
      }
      img {
          width: 40%;
          height: auto;
          margin: auto;
          margin-top: 5%;
          display: block;
          opacity: 0.8;
      }
   </style>

    </head>

    <body>

        <a href="http://paytonandwayne.net"><img src="https://res.cloudinary.com/rapha3l/image/upload/v1535071904/Request_failed_dzzx0j.jpg"></a>
    </body>

</html>
